apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis
  labels:
    app: redis
spec:
  replicas: 1
  selector:
    matchLabels:
      app: redis
  template:
    metadata:
      labels:
        app: redis
    spec:
      volumes:
      - name: data
        emptyDir: {}
      - name: redis-config
        configMap:
          name: redis-config
      containers:
      - name: redis
        image: redis:alpine
        resources:
         requests:
            cpu: "0.2"
        volumeMounts:
        - name: redis-config
          mountPath: /redis-master
        - mountPath: /redis-master-data
          name: data
        ports:
        - containerPort: 6379